[[!GoodNewsConfirmSubscription]]

<div class="container">
    <div class="header">
        <h1>[[++site_name]]</h1>
    </div>
    <div class="main">
        <p class="successMsg">You successfully finished your subscription to our newsletter service!</p>
        <p>
            <strong>Please note:</strong> Each newsletter will contain links to immediately cancel or edit your newsletter profile.
        </p>
        <p>
            <em>Best wishes,<br>
            Your [[++site_name]] Team!</em>
        </p>
    </div>
    <div class="footer">
        <p>&copy; Copyright [[++site_name]]</p>
    </div>
</div>
