id: 80
source: 5
templatename: festiwalTemplate
description: ''
properties: null
static: 1
static_file: templates/festiwalTemplate.html

-----

[[$header]]
[[$menu-top]]
<div class="main-content">
        
    
    <!-- 
                                                                              
         ## ##  ## ##  ####     #    ####   #####  #####  #  ##  ####     #   
         ## ##  ## ##  ## ##   ###   ## ##     ##  ##     ## ##   ##     ###  
         #####  ## ##  ## ##  ## ##  ## ##    ###  ##     #####   ##    ## ## 
         #####   ###   ## ##  ## ##  ####    ###   ####   #####   ##    ## ## 
         #####   ###   ## ##  #####  ###    ###    ##     #####   ##    ##### 
         ## ##   ###   ## ##  ## ##  ####   ##     ##     ## ##   ##    ## ## 
         #   #   ###   ####   ## ##  ## ##  #####  #####  ##  #  ####   ## ## 
                                                                              
                                                                              
     -->
        <section class="wydarzenia m-t-50">
            <h2 class="header--small capitalize center">Nadchodzące wydarzenia</h2>
            <div class="news-wrapper">
            <div class="news">
                <div class="swiper-wrapper">

                                    [[setLocale]] 
                                      [[pdoResources?
                                          &parents=`1372`
                                          &depth=`2`
                                          &limit=`0`
                                          &tpl=`wydarzeniaFestiwaluItem`
                                          &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                                          &processTVs=`1`
                                          &tvFilters=`wydarzenie_date_start>=[[getDate:date=`%Y-%m-%d`]]`
                                          &sortbyTV=`wydarzenie_date_start` 
                                          &sortdirTV=`ASC`
                                          
                                      ]]  

                </div>
            </div>
            <div class="news__arrow news__arrow--right swiper-button-next swiper-button-black">
            </div>
            <div class="news__arrow news__arrow--left swiper-button-prev news__arrow-left swiper-button-black"></div>
            </div>
   
</section>



            <div class="row">
                <div class="column small-12 medium-9">
                    <h1 class="m-t-80 header--large">Co w tym roku</h1>

                   
                        [[*content]]
                 
                    
                </div>
            </div>


        <section class="row m-t-50" >
          
                <div class="small-12 column">
                    <h2 class="header--big">Twórcy</h2>
                </div>
               
                [[pdoResources?
                      &parents=`1471`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`artystaItem`
                      &includeTVs=`artysta_image`
                      &processTVs=`1`
                      &tvFilters=``
                      &sortbyTV=`` 
                      &sortdirTV=``
                ]]  
       
        </section>
    <!--

       #    ####  ######  ####    ###  ######   ###         
      ###   ## ##   ##     ##    ## ##   ##    ## ##        
     ## ##  ## ##   ##     ##    ##      ##    ##           
     ## ##  ####    ##     ##     ###    ##     ###         
     #####  ###     ##     ##       ##   ##       ##        
     ## ##  ####    ##     ##    ## ##   ##    ## ##        
     ## ##  ## ##   ##    ####    ###    ##     ###         

    -->
        <section class="row m-t-50 collapse" >
            <div class="small-12 medium-6 columns">
                <div class="artist-list">
                    <h2 class="header--big">Realizacje</h2>
                    <div class="row collapse">
                         [[pdoResources?
                              &parents=`1471`
                              &depth=`2`
                              &limit=`0`
                              &tpl=`artystaRealizacjaItem`
                              &includeTVs=`galeria_opcje, realizacja_lat, realizacja_lon, realizacja_mapa_numer`
                              &processTVs=`1`
                          ]] 
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns map-container">
                <div class="map" id="mapa"></div>
            </div>
        </section>

    <!-- 
                                    
         #####  ####   ##     #   # 
         ##      ##    ##     ## ## 
         ##      ##    ##     ##### 
         ####    ##    ##     ##### 
         ##      ##    ##     ##### 
         ##      ##    ##     ## ## 
         ##     ####   #####  ## ## 
                                    
                                    
    
        <section class="row m-t-50"><h2 class="header--big">Flim</h2></section> 

        <section class="full-bg video-section margin-top" >
            <div class="row ">

                <div class="small-12 medium-12 columns text-center">
                    <iframe style="margin-bottom:20px;" src="https://player.vimeo.com/video/127345536?title=0&amp;byline=0&amp;portrait=0&amp;color=ffeb63&amp;autoplay=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <a href="http://vimeo.com/trafficdesign" style="color:#fff; margin-top:15px;">Więcej filmów</a>
                </div>
            </div>
        </section>

 -->
        
    </div>
[[$footer]]