id: 56
source: 5
templatename: galeriaTemplate
description: ''
properties: null
static: 1
static_file: templates/galeriaTemplate.php

-----

[[$header]]
[[$menu-top]]
[[$naglowek-foto]]




<div class="container">
	<div class="title-breadcrubs clearfix">
         [[!If?
           &subject=`[[*parent]]`
           &operator=`isnot`
           &operand=`0`	
           &then=`
           <h2 class="pod-slider">[[*pagetitle]]</h2>
           `]] 
           [[BreadCrumb]]	
     </div>      
   </div>


<div class="container galeria-zdjec clearfix">

				[[$bookmark]]

            
    <div class="clearfix">
    [[!#get.galAlbum:stripTags:notempty=`<a href="[[~[[*id]]]]">&lsaquo; Powrót do albumów</a>`]]
     
             [[!Gallery?
                 &toPlaceholder=`gallery` 
                 &thumbTpl=`fotkaItemTpl` 
                 &thumbWidth=`200` 
                 &thumbHeight=`160` 
                 &thumbQuality=`80` 
                 &imageHeight=`640`
                 &imageWidth=`640`
             ]]
             
           
            
            [[!#get.galAlbum:stripTags:notempty=`
                <h3>[[+gallery.name]]</h3>
                <span>[[+gallery.createdon:strtotime:date=`%e %B %Y`]]</span>
                [[+gallery.description:notempty=`<p>[[+gallery.description]]</p>`]]
                [[+gallery]]
            `]]
            
            [[!#get.galAlbum:empty=`
                [[GalleryAlbums? 
                &limit=`0` 
                &rowTpl=`albumParentTpl` 
                &prominentOnly=`0` 
                &showAll=`1`
                &dir=`ASC`]]
            `]]
    </div>
 </div>    
       

[[$footer]]