id: 74
source: 5
templatename: glownaTemplate
description: ''
properties: null
static: 1
static_file: templates/glownaTemplate.html

-----

[[$header]]
[[$menu-top]]
<div class="main-content">
<!--

  ###   ##     ####   ####   #####  ####         
 ## ##  ##      ##    ## ##  ##     ## ##        
 ##     ##      ##    ## ##  ##     ## ##        
  ###   ##      ##    ## ##  ####   ####         
    ##  ##      ##    ## ##  ##     ###          
 ## ##  ##      ##    ## ##  ##     ####         
  ###   #####  ####   ####   #####  ## ##        

-->
        <div class="slider">
            <div class="swiper-wrapper slider-wrapper">
                <div class="slider__item swiper-slide" style="background-image:url('images/1010/1010_18.jpg')">
                            <a href="#" class="slider__link">Nazwa artysty – rok</a>
                   </div>
                   
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/tyrsa/tyrsa_22.jpg')">
                     <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/bajtlik/bajtlik_16.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/blaqk/blaqk_01.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/hakobo/hakobo_09.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/ikon/ikon_12.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/ripo/ripo_01.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/typoets/typoets_04.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
                <div class="slider__item swiper-slide" style="background-image:url('images/zedz/zedz_10.jpg')">
                    <a href="#" class="slider__link">Nazwa artysty – rok</a>
                </div>
            </div>
        </div>


<!-- 

## ##  ## ##  ####     #    ####   #####  #####  #  ##  ####     #   
## ##  ## ##  ## ##   ###   ## ##     ##  ##     ## ##   ##     ###  
#####  ## ##  ## ##  ## ##  ## ##    ###  ##     #####   ##    ## ## 
#####   ###   ## ##  ## ##  ####    ###   ####   #####   ##    ## ## 
#####   ###   ## ##  #####  ###    ###    ##     #####   ##    ##### 
## ##   ###   ## ##  ## ##  ####   ##     ##     ## ##   ##    ## ## 
#   #   ###   ####   ## ##  ## ##  #####  #####  ##  #  ####   ## ## 

-->

        <section class="wydarzenia m-t-50">
            <h2 class="header--small capitalize center">Nadchodzące wydarzenia</h2>
            <div class="news-wrapper">
            <div class="news">
                <div class="swiper-wrapper">
                    <div class="news__item media swiper-slide">
                        <a href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Inauguracja festiwalu - wystawa</div>
                        </a>
                    </div>
                    <div class="news__item media swiper-slide">
                        <a  href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Coś tam</div>
                        </a>
                    </div>
                    <div class="news__item media swiper-slide">
                        <a  href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Coś tam</div>
                        </a>
                    </div>
                    <div class="news__item media swiper-slide">
                        <a href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Coś tam Coś tam Cośtam</div>
                        </a>
                    </div>
                    <div class="news__item media swiper-slide">
                        <a href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Coś tam Coś tam Cośtam</div>
                        </a>
                    </div>
                    <div class="news__item media swiper-slide">
                        <a href="news.html">
                            <div class="news__image media_image" style="background-image:url('http://placekitten.com/g/200/300')"></div>
                            <div class="media__body news__title">Coś tam Coś tam Cośtam</div>
                        </a>
                    </div>
            
        
                </div>
            </div>
            <div class="news__arrow news__arrow--right swiper-button-next swiper-button-black">
            </div>
            <div class="news__arrow news__arrow--left swiper-button-prev news__arrow-left swiper-button-black"></div>
            </div>
   
</section>


<!-- 
                                                                   
     ####   #####  ####     #    ##       #    #  ##  ####     #   
     ## ##     ##   ##     ###   ##      ###   ## ##   ##     ###  
     ## ##    ###   ##    ## ##  ##     ## ##  #####   ##    ## ## 
     ## ##   ###    ##    ## ##  ##     ## ##  #####   ##    ## ## 
     ## ##  ###     ##    #####  ##     #####  #####   ##    ##### 
     ## ##  ##      ##    ## ##  ##     ## ##  ## ##   ##    ## ## 
     ####   #####  ####   ## ##  #####  ## ##  ##  #  ####   ## ## 
                                                                   
                                                                   
 -->


    <section class="row width-90-percent margin-top collapse" >
        <div class="small-12 columns">
            <div class="dzialania-list m-t-50">
                <h2 class="header--small capitalize center">NASZE DZIAŁANIA</h2>
                <div class="row collapse">
                        <div class="medium-4 small-4 columns">
                        <a href="td15.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                    <img src="images/1010/m/1010_07.jpg">
                                    <img src="images/tyrsa/m/tyrsa_05.jpg">
                                    <img src="images/hakobo/m/hakobo_11.jpg">

                                   
                                </div>
                                <div class="dzialania__name media__body ">Traffic Design 2015</div>
                            </div>
                        </a>
                    </div>

                    <div class="medium-4 small-4 columns">
                        <a href="wydarzenie.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                    <img src="images/2015/re.jpg">
                                     <img src="images/2015/re.jpg">

                                </div>
                                <div class="dzialania__name media__body ">RE:DESIGN 3 – Szyldy dla rzemieślników</div>
                            </div>
                        </a>
                    </div>

                    <div class="medium-4 small-4 columns">
                        <a href="wydarzenie.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                    <img src="https://unsplash.it/400/300/?image=1000">
                                    <img src="https://unsplash.it/400/300/?image=1002">
                                    <img src="https://unsplash.it/400/300/?image=1020">
                                   
                                </div>
                                <div class="dzialania__name media__body ">SITOFEST - Festiwal sitodruku</div>
                            </div>
                        </a>
                    </div>

                    <div class="medium-4 small-4 columns">
                        <a href="wydarzenie.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                     <img src="https://unsplash.it/400/300/?image=400">
                                     <img src="https://unsplash.it/400/300/?image=420">
                                     <img src="https://unsplash.it/400/300/?image=440">
                                   
                                </div>
                                <div class="dzialania__name media__body ">Figa z Makiem 3 – targi sztuki i designu</div>
                            </div>
                        </a>
                    </div>

                    <div class="medium-4 small-4 columns">
                        <a href="wydarzenie.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                    <img src="https://unsplash.it/400/300/?image=431">
                                     <img src="https://unsplash.it/400/300/?image=432">
                                      <img src="https://unsplash.it/400/300/?image=434">
                                   
                                </div>
                                <div class="dzialania__name media__body ">Majówka w infoboksie</div>
                            </div>
                        </a>
                    </div>

                    <div class="medium-4 small-4 columns">
                        <a href="wydarzenie.html">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">
                                    <img src="https://unsplash.it/400/300/?image=410">
                                    <img src="https://unsplash.it/400/300/?image=412">
                                    <img src="https://unsplash.it/400/300/?image=413">
                                   
                                </div>
                                <div class="dzialania__name media__body ">  
Je suis Charlie – Wystawa</div>
                            </div>
                        </a>
                    </div>  
                </div>
                <div class="center m-t-50">
                    <a href="wydarzenia.html" class="button button--big">Zobacz wszystkie</a>
                </div>
                

            </div>
        </div>
    </section>














<!--

   #    ####  ######  ####    ###  ######   ###         
  ###   ## ##   ##     ##    ## ##   ##    ## ##        
 ## ##  ## ##   ##     ##    ##      ##    ##           
 ## ##  ####    ##     ##     ###    ##     ###         
 #####  ###     ##     ##       ##   ##       ##        
 ## ##  ####    ##     ##    ## ##   ##    ## ##        
 ## ##  ## ##   ##    ####    ###    ##     ###         

-->
    <section class="row width-90-percent margin-top collapse" style="display: none;">
        <div class="small-12 medium-6 columns">
            <div class="dzialania-list">
                <h2 class="header-underline">Twórcy</h2>
                <div class="row collapse">
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-1010" id="">
                            <div class="dzialania__image media__image">
                                <img src="images/1010/m/1010_01.jpg">
                                
                            </div>
                            <div class="dzialania__name media__body ">1010<small class="dzialania__nation">DE</small></div>
                            <div class="dzialania__number" data-lat="54.52009" data-lon="18.53367" data-icon="a" data-dzialania-name="1010">A</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-bajtlik">
                            <div class="dzialania__image media__image">
                                <img src="images/bajtlik/m/bajtlik_03.jpg">
                               
                            </div>
                            <div class="dzialania__name media__body ">Jan Bajtlik<small class="dzialania__nation">PL</small></div>
                            <div class="dzialania__number" data-lat="54.52104" data-lon="18.53532" data-icon="b">B</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-hakobo">
                            <div class="dzialania__image media__image">
                                <img src="images/hakobo/m/hakobo_05.jpg">
                                
                            <div class="dzialania__name media__body">Hakobo<small class="dzialania__nation">PL</small></div>
                            <div class="dzialania__number" data-lat="54.52273" data-lon="18.53222" data-icon="c">C</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-tyrsa">
                            <div class="dzialania__image media__image">
                                <img src="images/tyrsa/m/tyrsa_05.jpg">
                                
                            </div>
                            <div class="dzialania__name media__body">Tyrsa<small class="dzialania__nation">FR</small></div>
                            <div class="dzialania__number" data-lat="54.51631" data-lon="18.53077" data-icon="d">D</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-blaqk">
                            <div class="dzialania__image media__image">
                                <img src="images/blaqk/m/blaqk_05.jpg">
                               
                            </div>
                            <div class="dzialania__name media__body  text-truncate">Blaqk<small class="dzialania__nation">GR</small></div>
                            <div class="dzialania__number" data-lat="54.52128" data-lon="18.53733" data-icon="e">E</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-ikon">
                            <div class="dzialania__image media__image">
                                <img src="images/skonczone/m/icon.jpg">
                                
                            </div>
                            <div class="dzialania__name media__body  text-truncate">Ikon<small class="dzialania__nation">PL</small></div>
                            <div class="dzialania__number" data-lat="54.51848" data-lon="18.53072" data-icon="f">F</div>
                        </div>
                    </div>
                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-ripo">
                            <div class="dzialania__image media__image">
                                <img src="images/ripo/m/ripo_05.jpg">
                                
                            </div>
                            <div class="dzialania__name media__body  text-truncate">Ripo<small class="dzialania__nation">USA</small></div>
                            <div class="dzialania__number" data-lat="54.51525" data-lon="18.53914" data-icon="g">G</div>
                        </div>
                    </div>

                    <div class="medium-6 small-6 columns">
                        <div class="dzialania media media--stack dzialania-typy">
                            <div class="dzialania__image media__image">
                                <img src="images/typy/m/typy_005.jpg">
                                
                            </div>
                            <div class="dzialania__name media__body  text-truncate">Typy<small class="dzialania__nation">PL</small></div>
                            <div class="dzialania__number" data-lat="54.52361" data-lon="18.54313" data-icon="h">H</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns map-container">
            <div class="map" id="mapa"></div>

        </div>
    </section>



</div>
[[$footer]]