id: 32
source: 1
templatename: konfiguracjaTemplate
description: 'Szablon służący jedynie dla strony konfiguracyjnej.'
properties: 'a:0:{}'

-----

[[$header]]
<!--
* FormIt is required!
* Fields used: firstname, lastname, company, email
* Optional: m_name, company, address, state, zip, country, phone, cell, crm_id
* The 'EletterSignup' hook (snippet) adds the subscriber or returns an error message.
* Optionally redirect to a 'thankyou' page!
* You can also use this in a "normal" contactform.
-->
 
[[!FormIt? 
  &hooks=`spam,EletterSignup` 
  &successMessage=`dziękujemy!`
  &validate=`email:required:email,first_name:required` 
  &emailSubject=`Newsletter confirmation`
  &emailReplyTo=`[[++eletters.replayEmail]]`
  &emailFromName=`[[++eletters.fromName]]`
  &emailFrom=`[[++eletters.fromEmail]]`
  &emailTpl=`newsletter_email_tpl`
  &NewsletterID=`3`
]]
 

    <form class="navbar-form navbar-right" action="[[~[[*id]]]]" method="post">
            <div class="form-group" style="width:206px">
              <input type="button" value="NEWSLETTER" class="form-control btn btn-logowanie" onclick="document.getElementById('slider').classList.toggle('closed');">
    <div class="slider" id="slider">
          <BR>
          <input name="first_name" type="text" value="[[+fi.first_name]]" id="txt_first_name" placeholder="imię" class="form-control login">[[!+fi.error.first_name]]
		  <BR><BR>
		  <input name="email" type="text" value="[[+fi.email]]" id="txt_email" placeholder="e-mail" class="form-control login">[[+fi.error.email]]<BR><BR><button type="submit" class="btn btn-zaloguj">ZAPISZ</button>
    </div>


            </div>
      
        </form>

[[+fi.successMessage]]
			
