id: 97
source: 5
templatename: stowarzyszenieTemplate
description: ''
properties: null
static: 1
static_file: templates/stowarzyszenieTemplate.html

-----

[[$header]]
[[$menu-top]]
<div class="main-content">


    <section class="row width-90-percent margin-top collapse" >
        <div class="small-12 medium-8 columns">
            <h1> Stowarzyszenie Traffic Design</h1>
            <p class="">
                [[*content]]
            </p>
 

        </div>
    </section>



</div>
[[$footer]]