id: 72
source: 5
templatename: wydarzeniaListaTemplate
description: ''
properties: 'a:0:{}'
static: 1
static_file: templates/wydarzeniaListaTemplate.html

-----



[[$header]]

TEST

[[$menu-top]]






<div class="main-content">





<!-- 
                                                                   
     ####   #####  ####     #    ##       #    #  ##  ####     #   
     ## ##     ##   ##     ###   ##      ###   ## ##   ##     ###  
     ## ##    ###   ##    ## ##  ## ##  ## ##  #####   ##    ## ## 
     ## ##   ###    ##    ## ##  ####   ## ##  #####   ##    ## ## 
     ## ##  ###     ##    #####  ##     #####  #####   ##    ##### 
     ## ##  ##      ##    ## ##  ##     ## ##  ## ##   ##    ## ## 
     ####   #####  ####   ## ##  #####  ## ##  ##  #  ####   ## ## 
                                                                   
                                                                   
 -->


    <section class="row width-90-percent margin-top collapse " >
        <div class="small-12 columns">

           <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">Nadchodzące wydarzenia</h2>
                <div class="row align-center">
                   [[setLocale]] 
                  [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=[[getDate:date=`%Y-%m-%d`]]`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`ASC`
                      
                  ]]  
                    
                </div>
            </div>

            <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">2015</h2>
                <div class="row align-center">
                   [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=2015,wydarzenie_date_start<<2016`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`DESC`
                  ]] 
           
                
                </div>
            </div>

            <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">2014</h2>
                <div class="row align-center">
                   [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=2014,wydarzenie_date_start<<2015`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`DESC`
                  ]] 
           
                
                </div>
            </div>

            <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">2013</h2>
                <div class="row align-center">
                   [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=2013,wydarzenie_date_start<<2014`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`DESC`
                  ]] 
           
                
                </div>
            </div>

            <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">2012</h2>
                <div class="row align-center">
                   [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=2012,wydarzenie_date_start<<2013`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`DESC`
                  ]] 
           
                
                </div>
            </div>

            <div class="dzialania-list m-t-50">
                <h2 class="header--medium capitalize center">2011</h2>
                <div class="row align-center">
                   [[pdoResources?
                      &parents=`[[*id]]`
                      &depth=`2`
                      &limit=`0`
                      &tpl=`wydarzeniaItem`
                      &includeTVs=`galeria_opcje, wydarzenie_date_start, wydarzenie_image`
                      &processTVs=`1`
                      &tvFilters=`wydarzenie_date_start>=2011,wydarzenie_date_start<<2012`
                      &sortbyTV=`wydarzenie_date_start` 
                      &sortdirTV=`DESC`
                  ]] 
           
                
                </div>
            </div>


            </div>
    </section>
</div>


[[$footer]]