[[$header]]
[[$menu-top]]
<div class="main-content">


    <section class="row width-90-percent margin-top collapse" >
        <div class="small-12 medium-8 columns">
            <h1> [[*pagetitle]]</h1>
            <p class="">
                [[*content]]
            </p>
 
           [[*wyswietlaj-galerie:is=`1`:then=`
            [[*galeria_opcje:notempty=`
             <!-- Galeria -->
             <div class="column small-12  medium-12 large-12 m-t-80">
                  <h3>Galeria</h3>
                  <div class="galeria align-center">
                      [[$pokaz-album]]
                  </div>
              </div>
           
	            `]]
	        `]]

        </div>
    </section>



</div>
[[$footer]]