[[$header]]
[[$menu-top]]
<div class="main-content">


    <section class="row width-90-percent margin-top collapse" >
        <div class="small-12 medium-8 columns">
            <h1> [[*pagetitle]]</h1>
            <p class="">
                [[*content]]
            </p>
 

        </div>
    </section>



</div>
[[$footer]]