[[$header]]
[[$menu-top]]

<div class="slider-glowna" [[*naglowekFoto:notempty=`style="background-image:url('[[*naglowekFoto:pthumb=`w=1200&h=450&zc=1`]]'); background-size:cover;"`]]>
    		
            <div class="flexslider">
              		<ul class="slides">
              			[[getImageList? 
               		 &tvname=`slider`
                		 &tpl=`slideTpl`]]
                      <div class="slider-szczegoly-tlo"></div>
              		</ul>
 				</div>
         	</div>

<div class="atrakcje">
        <div class="container">
            <h2>Sport i rekreacja</h2>
            	<ul>
                    <li><a class="wszystkie active" title="Wybierz wszystkie" href="#">wszystkie <span>atrakcje</span></a></li>
                          [[Wayfinder? 
                        &startId=`4` 
                        &level=`2`
                        &debug=`0`
                        &excludeDocs=`1, 422`
                        &titleOfLinks=`menuindex`
                        &sortBy=`menuindex`
                        &outerTpl=`@CODE:[[+wf.wrapper]]`
                        &lastClass=`obiekt-[[+id]]`
                        &rowTpl=`@CODE:<li><a class="obiekt-[[+id]]" title="Wybierz [[+nazwa-atrakcje]]" href="#">[[+nazwa-atrakcje]]<span>[[+ulica-atrakcje]]</span></a></li>`]]
               </ul>   
        </div>
        <div class="atrakcje-ikony wszystkie clearfix">
            [[getImageList?
            &docid=`202`
            &tvname=`atrakcjeListaMIGX`  
            &tpl=`atrakcjeObiektowAll`]]		  
          </div> 
          
        	[[!getResources? &parents=`4` &tpl=`AtrakcjeObiektowLevel2` &depth=`0` &limit=`20`]]
</div>



[[*wyswietlaj-komunikat:isequalto=`1`:then=`[[$komunikat]]`]]


<div class="container clearfix">
        <div class="aktualnosci-wrapper-sg" id="kat-aktualnosci">
          <h2>Aktualności</h2>
          <div class="kat-wrapper clearfix" >
              <div class="kat-dropdown">Wszystkie</div>  
                  <ul class="nav kat-aktualnosci">
                  <li><span class="active wszystkie">wszystkie</span></li>
                            
                                 [[getResources?
                                  &parents=`0`
                                  &depth=`4`
                                  &where=`{"template:=":43,"OR:template:=":4}`
                                  &tpl=`kategorieAktualnosciGlownaTpl`
                                  &includeTVs=`1` 
                                  &processTVs=`1` 
                                  &limit=`40`
                                  &sortby=`pagetitle`
                                  &sortdir=`ASC`
                                 ]]                 
                    </ul>
               </div> 
            	<div class="scroll lista-aktualnosci-sg"> 
                   [[!getResources?
                      &parents=`0`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tpl=`aktualnosciGlownaRowTpl`
                      &showHidden=`1`
                      &limit=`40`
                      &where=`{"template:=":7,"OR:template:=":44}`
                    ]]
                </div>
        	</div>
       [[$kalendarz-glowna2]]  
</div>

		<!-- Banery -->
            [[!If?
             &subject=`[[*wyswietlaj-banery]]|[[*wyswietlaj-banery-data]]|[[*wyswietlaj-banery-data:is=`1`:then=`[[banery_data? &x=`[[*banery_data_start]]` &y=`[[*banery_data_koniec]]`]]`]]`
            &operator=`is`
            &operand=`1||`	
            &then=`[[$banery-prawy-lewy]]`]]
            
            [[!If?
             &subject=`[[*wyswietlaj-banery]]|[[*wyswietlaj-banery-data]]|[[*wyswietlaj-banery-data:is=`1`:then=`[[banery_data? &x=`[[*banery_data_start]]` &y=`[[*banery_data_koniec]]`]]`]]`
            &operator=`is`
            &operand=`1|1|1`	
            &then=`[[$banery-prawy-lewy]]`]]
            
            
  <div class="nasze-obiekty clearfix">
    <div class="container">

            <h2>Nasze obiekty</h2>
            
            <span>[[*lokalizacja_text]]
            </span>
        </div> 
        
        <div class="map" id="mapa">
           [[*address:JSONtoChunk=`addressTpl`]]
        </div>
        
        <div class="obiekty-pod-mapa">
        [[$mapa_obiekty_bottom]]
          </div>
  
</div>
[[$footer]]