[[$header]]
[[$menu-top]]

<div class="main-content">
    <section class="row width-90-percent" >
    <div class="column small-12 medium-3 large-4 medium-offset-1 m-t-80 ">
    <div class="box bg--gray">
    <b>Kto:</b><br>[[*artysci]]<br>
    <b>Gdzie:</b><br>[[*adres]]<br>
    <b>Kiedy:</b><br>
    [[setLocale]] 
       [[*wydarzenie_date_start:strtotime:date=`%e %B %Y`]]   [[*wydarzenie_date_end:notempty=` – [[*wydarzenie_date_end:strtotime:date=`%e %B %Y`]]`]]<br>
        </div>
     </div>

    <div class="column small-12  medium-8 large-7 m-t-80">
        <h2 class="header--big">[[*pagetitle]]</h2>

        <p class="lead--medium">
                [[*content]] 
        </p>
        <p>
            [[*content]]
        </p>
    </div>
 
   
          [[*wyswietlaj-galerie:is=`1`:then=`
            [[*galeria_opcje:notempty=`
             <!-- Galeria -->
             <div class="column small-12  medium-12 large-12 m-t-80">
                  <h3>Galeria</h3>
                  <div class="galeria align-center">
                      [[$pokaz-album]]
                  </div>
              </div>
           
            `]]
        `]]
        
        
        [[*wyswietlaj-albumy:is=`1`:then=`
            <div class="content-modul clearfix">
              <h3>Albumy zdjęć</h3>
                [[getImageList? &tvname=`DodajAlbumyMIGX` &tpl=`albumPojedynczeTpl`]]
            </div>
            `]]
        
      

        [[*wyswietlaj-kat-albumow:is=`1`:then=`

            <div class="content-modul clearfix">
               [[$pokaz-kat-albumow?id=`[[*wyswietl-kat-albumow]]`]]
            </div>
            `]]
        

    </section>
</div>
[[$footer]]