<div class="galeria-item">
    <a href="[[~475? &[[+albumRequestVar]]=`[[+id]]`]]">
    <img src="[[+image]]" alt="[[+name]]" /><br>
    [[+showName:notempty=`[[+name]]`]]</a>
    <span>[[+createdon:strtotime:date=`%e %B %Y`]]</span>
</div>
[[+idx:add=`1`:mod=`4`:is=`0`:then=`<br class="clear">`]]
