


   
			            [[#202.tv.kontaktStopka]]


    <footer class="full-bg footer">
        Traffic Desing © 2016
    </footer>


    <!-- ciasteczka -->
    <div style="width: 100%; height: 50px; padding: 5px 0px; left: 0px; bottom: 0px; position: fixed;  z-index: 9999; color: rgb(251, 202, 12); background: none repeat scroll 0% 0% rgb(251, 202, 12); border-top: medium none; box-shadow: 2px 0px 3px rgb(85, 85, 85); display: none;" id="cookies-accept" ><div style="width: 960px; margin: 0 auto;"><p style="float: left; text-align: left; width: 750px; line-height: 22px; font-size: 14px; color: #3f3f3f; ">Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej.  <a href="/cookies.html">Dowiedz się więcej</a></p> <span id="cookies-accept-btn" style="cursor: pointer; display: block; float: right; padding: 10px 15px; margin: 7px 0 0 0; background: #366451; color: #fff; font-weight: bold; font-size: 12px; " href="#" class="btn">OK. ROZUMIEM</span><div style="clear: both;"></div></div></div>



    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="[[++site_url]]assets/scripts/vendor.js"></script>
    <script src="[[++site_url]]assets/scripts/main.js"></script>
    <script>//   $(document).foundation();

      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-958597-21', 'trafficdesign.pl');
      // ga('require', 'displayfeatures');
      // ga('send', 'pageview');
      </script>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.13.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
    </body>
</html>