<!-- menuTopOuterTpl -->
<ul id="topnav" class="[[+wf.classnames]]">
<li><a href="[[++site_url]]" class="homefx" title="Idź do strony głównej"><img src="/assets/img/home-ico.png" alt=""></a></li>
       [[+wf.wrapper]]                    
</ul>