
    <header class="top-header">
    
        <nav class="nav clearfix width-90-percent">
            <a href="/" class="nav__logo"><img src="assets/img/logo.svg"></a>
             <a href="/" class="nav__menu-btn" id="menu-toggle">Menu</a>
            <ul class="nav__menu clearfix" id="menu">
             <li class="menu__item"><a href="festiwal-traffic-design-2016.html">Festiwal</a></li>
                <li class="menu__item"><a href="wydarzenia/">Wydarzenia</a></li>
                
                <li class="menu__item"><a href="stowarzyszenie.html">Stowarzyszenie</a></li>
                <li class="menu__item"><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>

    </div>
 </header>      

