<div class="grupa-galerii">
    <h3>[[+name]]</h3>
    <p>[[+description]]</p>
	<div class="lista-galerii clearfix">
        [[GalleryAlbums? 
        &limit=`0` 
        &parent=`[[*id]]` 
        &showAll=`0` 
        &rowTpl=`albumTpl` 
        &prominentOnly=`0`
        &albumCoverSort=`rank` 
         &albumCoverSort=`ASC` 
		&thumbWidth=`200`
		&thumbHeight=`150`
        ]]
  	</div>
</div>

<hr>