
					<div class="medium-4 small-4 columns">
                        <a href="[[!~[[+id]]]]">
                            <div class="dzialania media media--stack dzialania-1010" id="">
                                <div class="dzialania__image media__image">

                                	[[+tv.wydarzenie_image:notempty=`<img src="[[+tv.wydarzenie_image:phpthumbof=`w=680&h=480&zc=1]]">`:empty=`
                                		[[+tv.galeria_opcje:notempty=`
                                				[[Rowboat?
			           								&table=`modx_gallery_albums`
			           								&tpl=`wydarzenieAlbumCoverTpl`
			           								&columns=`{"id":"","name":"","createdon":"","cover_filename":""}`
			           								&limit=`0`
			           								&where=`{"id":"[[+tv.galeria_opcje]]"}`]]
		           							
		           								`:empty=`
		           								<img src="[[++site_url]]assets/img/default_cover.png">`]]
		           						`]]

           							<!--todo: wyswietlić wiecej zdjęć z galerii-->
                                </div>
                                <div class="dzialania__name media__body ">[[+pagetitle]]<br>
                                <small>[[+tv.wydarzenie_date_start:strtotime:date=`%e %B %Y`]]</small></div>
                            </div>
                        </a>
                    </div>