<div class="artykul-zajawka clearfix">


     <div class="data-artykulu">
        <div class="dzien">[[+publishedon:strtotime:date=`%d`]]</div>
        <div class="mies">
        [[+publishedon:strtotime:date=`%b`]]</div>
     </div>

 <img src="[[+tv.zdjecieArtykulu:pthumb=`w=135&h=100&zc=1`]]">
        <h3>
        <a href="[[~[[+id]]]]">[[+pagetitle]]</a>
        </h3>
       
      <p>[[+introtext:default=`[[+content:ellipsis=`120`]]`]]</p>

       
  
      <a class="wiecej" href="[[~[[+id]]]]">Więcej</a>


    <!--<p class="postmeta">
      <span class="links">
      
    [[%articles.posted_by]] <a href="[[~[[*id]]]]author/[[+createdby:userinfo=`username`]]">[[+createdby:userinfo=`username`]]</a> | 
            
        [[+comments_enabled:is=`1`:then=`| <a href="[[~[[+id]]]]#comments" class="comments">[[%articles.comments]] ([[!QuipCount? &thread=`article-b[[+parent]]-[[+id]]`]])</a>`]]
        | <a href="[[~[[+id]]]]" class="readmore">[[%articles.read_more]]</a>
      </span>
    </p>-->
</div>