[[$header]]
[[$menu-top]]
[[$naglowek-foto]]

   


<div class="container">
      <div class="row">
         [[!If?
   &subject=`[[*parent]]`
   &operator=`isnot`
   &operand=`0`	
   &then=`
   <h2 class="pod-slider">[[*pagetitle]]</h2>
   `
   ]] 
   
         [[BreadCrumb]] 

                


<div class="container">
    <div class="row " style="display:block">
        <div class="intro">
          <h1>WW skład obiektu wchodzą:</h1>
           
        </div> 
    </div>
</div>

<div class="thumb">

   <!-- start -->

[[getResources? &parents=`[[*id]]` &depth=`0` &limit=`0` &sortby=`menuindex` &sortdir=`ASC` 
&includeTVs=`1` 
&processTVs=`1` 
&tpl=`ikonyObiekt`]]

   <!-- koniec -->
</div>

<!-- Aktualności kalendarz -->

<div class="container">
        <!-- Example row of columns -->
    <div class="row">
    
        <div class="col-lg-4">
          <h2>Aktualności</h2>

          <BR><BR>
          <hr>
            <div class="scroll"> 
[[getResources?
  &parents=`192`
  &tpl=`aktualnosciGlownaRowTpl`
  &showHidden=`1`
  &limit=`8`
]]
            <!--<img src="/assets/img/scroll-test.png">-->
            </div>
            <p><img src="/assets/img/baner.png"></p>
        </div>

        <div class="col-lg-4">
          <h2>Kalendarz</h2>
       

            <ul class="nav navbar-navc">
                <li><a href="#">wszystkie</a></li>
                <li><a href="#" >sport</a></li>
                <li class="activef"><a href="#">rekreacja</a></li>
                <li><a href="#">imprezy okolicznościowe</a></li>
                                           
            </ul> 



          <BR><BR>
          <hr>        
          <div class="scroll2"> 
          <img src="/assets/img/scroll-test2.png" style="width: 101%;">
          </div>
          <p><img src="/assets/img/baner.png"></p>
       </div>
    </div>
</div> 


<!-- koniec aktu-->
    </div>
</div>


[[$footer]]