.galeria{
	/*display: flex;
	justify-content: center;
	flex-direction: row;*/

}
.galeria__image{

	display: block;
	width:600px;
	margin-bottom:20px;
}

.news__image {
    overflow: hidden;
}

.profile__image{
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
