id: 1463
pagetitle: 'Festiwal Traffic Design 2016'
alias: festiwal-traffic-design-2016
published: 1
introtext: ''
template: 80
menuindex: 2
createdby: 1
createdon: 1465854968
publishedon: 1465854960
publishedby: 1
uri: festiwal-traffic-design-2016.html
properties: null
tvs: {  }

-----

<p>Podczas tegorocznej edycji Festiwalu Traffic Design zwracamy się w stronę miejskiego detalu: zaglądamy do kratki ściekowej, wchodzimy w bramy kamienic, z wyciągniętą dłonią szybkim krokiem przechodzimy wzdłuż ogrodzeń. Tworzymy miejskie ozdoby w formie reliefów i rzeźb, nie rezygnując jednocześnie z malarstwa wielkoformatowego.</p>

<p>Wraz z zaproszonymi artystami chcemy pielęgnować i tworzyć elementy stanowiące tożsamość wizualną miasta. Przyglądamy się temu, co w miejskiej przestrzeni jest graficzne i unikatowe, a jednocześnie powtarzalne, ze względu na swoją funkcję. Tak, jak kiedyś sięgnęliśmy po mural, dziś odkrywamy na nowo relief czy metaloplastykę. Szukamy nowego sensu i dopisujemy się do zastanej miejskiej infrastruktury.</p>

<p>Dojrzeliśmy również do tego, by kontestować własne działania, dlatego dwie prace z lat ubiegłych zastąpią nowe murale, lepiej, naszym zdaniem, wpisujące się w architektoniczny kontekst i charakter miasta.</p>

<p>Festiwal Traffic Design 2016 będzie mówił o miejscach, w które nie zagląda się na co dzień, o sensach, których nie odczytujemy przemierzając ulice, o metalu i o detalu.</p>
