id: 1473
pagetitle: Stowarzyszenie
alias: stowarzyszenie
published: 1
introtext: ''
template: 97
menuindex: 4
createdby: 1
createdon: 1466068431
publishedon: 1466068380
publishedby: 1
uri: stowarzyszenie.html
properties: null
tvs: {  }

-----

<p>Jesteśmy organizacją pozarządową, której głównym celem jest działanie na rzecz przestrzeni publicznej, edukacji kulturalnej i artystycznej oraz sztuki użytkowej. Łączymy pasje i umiejętności przedstawicieli różnych zawodów i dziedzin życia społecznego. Są wśród nas: graficy i malarze, architekci i urbaniści, reprezentanci nauk humanistycznych, miejscy aktywiści i animatorzy kultury.</p>

<p>Naszym flagowym projektem jest Festiwal Traffic Design, który na przestrzeni sześciu lat &nbsp;z lokalnej inicjatywy na styku graffiti, street artu i muralizmu przerodził się w wydarzenie łączące działania artystyczno-projektowe, rewitalizacyjne, edukacyjne i społeczne.</p>

<p>Uważamy, że miasto - jego charakter, wygląd i funkcjonowanie - stanowi wspólną sprawę nie tylko samorządu, ale przede wszystkim mieszkańców reprezentujących różne grupy społeczne: przedsiębiorców, rzemieślników, aktywistów, ludzi młodszych i starszych – wszystkich użytkowników przestrzeni publicznej.</p>

<p>Sprzeciwiamy się wizualnej i architektonicznej bylajakości na ulicach oraz wszędobylskiej reklamie. Chcemy propagować społeczną odpowiedzialność za estetykę i dostępność miasta. Pragniemy, by podejmowane przez nas działania były użyteczne i inspirujące a drogę do osiągania naszych celów widzimy nie tylko w miejskich interwencjach, ale również w systematycznych działaniach kulturalno-edukacyjnych.</p>

<p>Rok założenia: 2012</p>
