id: 106
name: AdvSearchResult
description: 'Result for AdvSearch'
category: AdvSearch
properties: 'a:0:{}'

-----

<div class="advsea-result">
    <h3>[[+idx]]. <a href="[[+link:is=``:then=`[[~[[+id]]]]`:else=`[[+link]]`]]" title="[[+longtitle]]">[[+pagetitle]]</a><span>[[+publishedon]][[+kategorie_admin:notempty=` #aktualności`]]</span></h3>
    <div>[[+extracts]]</div>
</div>