id: 222
source: 5
name: albumTpl
description: ''
properties: null
static: 1
static_file: chunks/albumTpl.html

-----

<div class="galeria-item">
    <a href="[[~475? &[[+albumRequestVar]]=`[[+id]]`]]">
    <img src="[[+image]]" alt="[[+name]]" /><br>
    [[+showName:notempty=`[[+name]]`]]</a>
    <span>[[+createdon:strtotime:date=`%e %B %Y`]]</span>
</div>
[[+idx:add=`1`:mod=`4`:is=`0`:then=`<br class="clear">`]]
