id: 221
source: 5
name: artystaItem
description: ''
properties: null
static: 1
static_file: chunks/artystaItem.html

-----


                 <div class="small-12 medium-2 column">
                    <div class="profile">
                        <a href="[[!~[[+id]]]]">
                            <div class="profile__image">
                            [[+tv.artysta_image:notempty=`<img src="[[+tv.artysta_image:phpthumbof=`w=300&h=300&zc=1]]">`:empty=`<img src="[[++site_url]]assets/img/default_cover.png">`]]
                            </div>
                            <h2 class="profile__header header--small">[[+pagetitle]]</h2>
                        </a>
                    </div>
                </div>