id: 218
source: 5
name: artystaRealizacjaItem
description: ''
properties: null
static: 1
static_file: chunks/artystaRealizacjaItem.html

-----


                        <div class="medium-6 small-6 columns">
                            <a href="[[!~[[+id]]]]">
                                <div class="artist media media--stack artist-1010" id="">
                                    <div class="artist__image media__image">
                                       
                                        [[+tv.galeria_opcje:notempty=`

                                                [[Gallery? 
                                                    &thumbTpl=`realizacjeThumbRowTpl`
                                                    &thumbWidth=`0` 
                                                    &thumbHeight=`300` 
                                                    &thumbQuality=`80` 
                                                    &thumbProperties=`{"wp":"50","hp":"50"}}` 
                                                    &album=`[[+tv.galeria_opcje]]`]]
                                                `:empty=`
                                                <img src="[[++site_url]]assets/img/default_cover.png">`]]
                                        
                                    </div>
                                    <div class="artist__name media__body ">[[+pagetitle]]<br>
                                <small>[[+tv.wydarzenie_date_start:strtotime:date=`%e %B %Y`]]</small></div>
                                    <div class="artist__number" data-lat="[[+tv.realizacja_lat]]" data-lon="[[+tv.realizacja_lon]]" data-icon="[[+tv.realizacja_mapa_numer]]" data-artist-name="[[+pagetitle]]">[[+tv.realizacja_mapa_numer]]</div>
                                </div>
                            </a>
                        </div>


                      