id: 156
name: GoodNewsActivationEmailTpl
description: 'Templatka potwierdzenia'
category: GoodNews
properties: null

-----

<p>Witaj,</p>
<p>dziękujęmy za zainteresowanie naszym newsletterem! Aby aktywować subskrybcję kliknij w poniższy link:</p>
<p><a href="[[+confirmUrl]]">[[+confirmUrl]]</a></p>
<p>Tylko po kliknięciu w link ten zaczniesz otrzymywać od nas wiadomości.</p>
<p>Jeżeli nie to nie ty wypełniłeś nasz formularz, zignoruj tą wiadomość.</p>
<p>
<em>Dziękujemy,<br>
[[++site_name]]</em>
</p>