id: 112
name: HelpLink
description: 'Link for AdvSearch Help'
category: AdvSearch
properties: ''

-----

<a id="[[+asId]]_advsea-helplink" title="[[%advsearch.help_title? &namespace=`advsearch` &topic=`default`]]" href="[[+helpId]]" class="advsea-helplink"><span>help</span></a>