id: 66
source: 5
name: menuTopRowTpl
description: ''
properties: null
static: 1
static_file: chunks/menuTopRowTpl.html

-----


<li [[+wf.classes]]><span><a href="[[+wf.link]]" [[+wf.attributes]]>[[+wf.linktext]]</a></span>
	[[+wf.wrapper]]
</li>

