id: 224
source: 5
name: menu-top_pdoMenu
description: ''
properties: null
static: 1
static_file: chunks/menu-top_pdoMenu.html

-----


    <header class="top-header">
    
        <nav class="nav clearfix width-90-percent">
            <a href="/" class="nav__logo"><img src="assets/img/logo.svg"></a>
             <a href="/" class="nav__menu-btn" id="menu-toggle">Menu</a>
            <ul class="nav__menu clearfix" id="menu">
             <li class="menu__item"><a href="festiwal-traffic-design-2016.html">Festiwal</a></li>
                <li class="menu__item"><a href="wydarzenia/">Wydarzenia</a></li>
                
                <li class="menu__item"><a href="stowarzyszenie.html">Stowarzyszenie</a></li>
                <li class="menu__item"><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>

    </div>
 </header>      

 <header class="top-header" style="margin-top:200px">

    [pdoMenu?
          &startId=`0`
          &level=`1`
          &limit=`10`
          &cache=`1`
          &excludeDocs=`1`
          &outerClass=`nav navbar-nav`
          &tplOuter=`menuTopOuterTpl`
          &tpl=`menuTopRowTpl`
          ]]
     
          ?>
    </header>  