id: 110
name: PageLink
description: 'Page Link for AdvSearch'
category: AdvSearch
properties: ''

-----

<span class="advsea-page"><a href="[[+link]]" title="[[%advsearch.goto_page? &namespace=`advsearch` &topic=`default`]]" > [[+text]] </a></span>