id: 109
name: Paging1
description: 'Paging type 1 for AdvSearch'
category: AdvSearch
properties: ''

-----

[[+previouslink:isnot=``:then=`<span class="advsea-previous"><a href="[[+previouslink]]">[[%advsearch.previous? &namespace=`advsearch` &topic=`default`]]</a></span>`]]<span class="advsea-current"> [[+first]] - [[+last]] / [[+total]] </span>[[+nextlink:isnot=``:then=`<span class="advsea-next"><a href="[[+nextlink]]">[[%advsearch.next? &namespace=`advsearch` &topic=`default`]]</a></span>`]]