id: 166
source: 5
name: pokaz-kat-albumow
description: ''
properties: null
static: 1
static_file: chunks/pokaz-kat-albumow.html

-----

<div class="grupa-galerii">
[[!Gallery? &album=`[[+id]]` &toPlaceholder=`gall`]]
    <h3>Albumy — [[+gall.name]]</h3>
    <p>[[+gall.description]]</p>
	<div class="lista-galerii clearfix">
        [[GalleryAlbums? 
        &limit=`0` 
        &parent=`[[+id]]` 
        &showAll=`0` 
        &rowTpl=`album3wliniTpl` 
        &prominentOnly=`0`
        &albumCoverSort=`rank` 
         &albumCoverSort=`ASC` 
		&thumbWidth=`200`
		&thumbHeight=`150`
        ]]
  	</div>
</div>