id: 74
name: pollsLatestResultOuter
description: 'The outer template for the latest poll view, when voted!'
category: Polls
properties: 'a:0:{}'

-----

<h2>[[+question]]</h2>
<p>[[%polls.totalvotes? &num=`[[+totalVotes]]`]]</p>

<p>[[+answers]]</p>

[[+logdate:ne=``:then=`<p><em>[[%polls.votedon? &date=`[[+logdate:strtotime:date=`%A %e %B %Y`]]` &time=`[[+logdate:strtotime:date=`%H:%M:%S`]]`]]</em></p>`]]