id: 73
name: pollsLatestVoteAnswer
description: 'The template for the latest poll view of a single answer row'
category: Polls
properties: ''

-----

<input type="radio" name="answer" value="[[+id]]" id="poll-answer-[[+id]]" />
<label for="poll-answer-[[+id]]">[[+answer]] ([[+votes]])</label><br />