id: 72
name: pollsLatestVoteOuter
description: 'The outer template for the latest poll view'
category: Polls
properties: 'a:0:{}'

-----

<h3>[[+question]]</h3>
<p>[[+category_name:ne=``:then=`[[%polls.totalvotes? &num=`[[+totalVotes]]`]]</p>

<form action="[[~[[*id]]]]" method="post">

<p>[[+answers]]</p>

<p><input type="submit" name="pollVote" value="[[%polls.vote]]" /></p>

</form>

[[+results_url:ne=``:then=`<p><a href="[[+results_url]]">[[%polls.showresults]]</a></p>`]]