id: 143
name: sample.GoodNewsNewsletterRowTpl
description: 'The template code for a GoodNews newsletter row in containers output. Duplicate this to override it.'
category: GoodNews
properties: null

-----

<div class="newsletterrow">
    <h3 class="newslettertitle"><a href="[[+url]]">[[+pagetitle]]</a></h3>
    [[+introtext:notempty=`
        <p class="newsletterintro">[[+introtext]]</p>
    `]]
</div>