id: 139
name: sample.GoodNewsGrpFieldTpl
description: 'The template code for a GoodNews group checkbox form field. Duplicate this to override it.'
category: GoodNews
properties: null

-----

<p class="grpfield">
    <input type="checkbox" name="gongroups[]" value="[[+id]]" id="gongroup[[+id]]"[[+checked]]>
    <label for="gongroup[[+id]]" class="cblabel">[[+name]][[+description:notempty=` <span class="desc">([[+description]])</span>`]]</label>
</p>