id: 9
name: sample.ArchiveGroupByYear
description: 'The tpl wrapper for archives when grouped by year.'
category: Articles
properties: null

-----

<ul>
    <li><a href="[[+url]]">[[+year]]</a>
    <ul>
        [[+row]]
    </ul>
    </li>
</ul>