id: 7
name: sample.ArticlesRss
description: 'The tpl for the RSS feed. Duplicate this to override it.'
category: Articles
properties: null

-----

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xml:lang="en-US">
<channel>
  <title>[[++site_name]]</title>
  <link>[[~[[*id]]?scheme=`full`]]</link>
  <description>[[*description:cdata]]</description>
  <language>en</language>
  <copyright>Copyright [[+year]] by [[++site_admin]]. All Rights Reserved.</copyright>
  <ttl>120</ttl>
  [[+content]]
</channel>
</rss>