id: 137
name: sample.GoodNewsCatFieldTpl
description: 'The template code for a GoodNews category checkbox form field. Duplicate this to override it.'
category: GoodNews
properties: null

-----

<p class="catfield">
    <input type="checkbox" name="goncategories[]" value="[[+id]]" id="goncategory[[+id]]"[[+checked]]>
    <label for="goncategory[[+id]]" class="cblabel">[[+name]][[+description:notempty=` <span class="desc">([[+description]])</span>`]]</label>
</p>