id: 8
name: sample.ArticlesRssItem
description: 'The tpl row for each RSS feed item. Duplicate this to override it.'
category: Articles
properties: null

-----

<item>
    <title>[[+pagetitle]]</title>
    <link>[[~[[+id]]?scheme=`full`]]</link>
    <description>[[+introtext:default=`[[+content:ellipsis=`400`]]`:cdata]]</description>
    <pubDate>[[+publishedon:strtotime:date=`%a, %d %b %Y %H:%M:%S %z`]]</pubDate>
    <guid>[[~[[+id]]?scheme=`full`]]</guid>
    <author>[[+createdby:userinfo=`email`]] ([[+createdby:userinfo=`fullname`]])</author>
    [[!ArticlesStringSplitter? &string=`[[+tv.articlestags]]` &tpl=`sample.ArticlesRssCategoryNode`]]
</item>
