id: 142
name: sample.GoodNewsGrpNameTpl
description: 'The template code for a GoodNews group name only output. Duplicate this to override it.'
category: GoodNews
properties: null

-----

<p class="grpfield">
    <label class="cblabel">[[+name]][[+description:notempty=` <span class="desc">([[+description]])</span>`]]</label>
</p>