id: 188
name: UpgradeMODXTpl
description: 'Tpl chunk for alert widget'
category: UpgradeMODX
properties: null

-----

<h3 style="color:[[+ugm_notice_color]]">[[+ugm_notice]]</h3>
<br/>[[+ugm_current_version_caption]]: [[+ugm_current_version]]
<br/>[[+ugm_latest_version_caption]]: [[+ugm_latest_version]]

[[+ugm_logout_note]]
[[+ugm_form]]
[[+ugm_errors]]
<p>&nbsp;</p>

