id: 223
source: 5
name: wydarzeniaFestiwaluItem
description: ''
properties: null
static: 1
static_file: chunks/wydarzeniaFestiwaluItem.html

-----



                       <div class="news__item media swiper-slide">
                        <a  href="[[!~[[+id]]]]">
                            <div class="news__image media_image">
                                [[+tv.wydarzenie_image:notempty=`<img src="[[+tv.wydarzenie_image:phpthumbof=`w=680&h=480&zc=1`]]">`:empty=`
                                        [[+tv.galeria_opcje:notempty=`
                                                [[Rowboat?
                                                    &table=`modx_gallery_albums`
                                                    &tpl=`wydarzenieAlbumCoverTpl`
                                                    &columns=`{"id":"","name":"","createdon":"","cover_filename":""}`
                                                    &limit=`0`
                                                    &where=`{"id":"[[+tv.galeria_opcje]]"}`]]
                                            
                                                `:empty=`
                                                <img src="[[++site_url]]assets/img/default_cover.png">`]]
                                        `]]
                            </div>
                            <div class="media__body news__title">[[+pagetitle]]<br><small>[[+tv.wydarzenie_date_start:strtotime:date=`%e %B %Y`]]</small></div>
                        </a>
                    </div>